.measurements-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    background-color: var(--flat-dark);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.78);
    padding-top: 20px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 300px !important;
}

.headline {
    text-align: center;
    color: white;
}

.mat-form-field-wrapper {
    margin-top: 20px !important;
}

.chart {
    background: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.78);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 1px;
    display: block;
    margin-bottom: 20px;
}

.title {
    margin: 10px;
    font-size: 35px;
    color: var(--accent);
}

.subtitle {
    margin: 10px;
    font-size: 22px;
}