<div class="hero-container">
    <div class="screen-container text-center">
        <form class="form-signin">
            <img class="mt-1 mb-3" src="./../../../assets/NVisionLogo.png" alt="" width="95" height="95">
            <div>
                <span id="appNameLogin1">N</span>
                <span id="appNameLogin2">Vision</span>
            </div>         
            <h1 class="h3 my-3 font-weight-normal overlay-label card-title">Register</h1>

            <input type="text" id="inputUsername" class="form-control text-input" placeholder="Username" required="" autofocus=""
                [(ngModel)]="registerUser.username" name="username"> 
            <input type="password" id="inputPassword" class="form-control text-input" placeholder="Password" required="" autofocus=""
                [(ngModel)]="registerUser.password" name="password"> 
            <input type="password" id="inputRepeatedPassword" class="form-control text-input" placeholder="Repeat Password" required="" autofocus=""
                [(ngModel)]="registerUser.repeatedPassword" name="repeatedPassword"> 
            <input type="text" id="inputFirstName" class="form-control text-input" placeholder="First Name" required="" autofocus=""
                [(ngModel)]="registerUser.firstName" name="firstName"> 
            <input type="text" id="inputLastName" class="form-control text-input" placeholder="Last Name" required="" autofocus=""
                [(ngModel)]="registerUser.lastName" name="lastName"> 
            <input type="date" id="inputBirthday" class="form-control text-input" placeholder="Birthday" required="" autofocus=""
                [(ngModel)]="registerUser.birthday" name="birthday">
                
            <div class="btn-group" id="accountOptionsWrapper">
                <button type="button" class="dropdown-toggle btn-secondary animate__animated animate__fadeInUp scrollto" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userType">
                    User Type        
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="onUserTypeSelected(0)">Watcher</a>
                    <a class="dropdown-item" (click)="onUserTypeSelected(1)">Subject</a>
                </div>
            </div>

            <!-- Watcher specific fields -->
            <input type="text" id="inputPhone" class="form-control text-input" placeholder="Phone Number" required="" autofocus=""
                [(ngModel)]="phoneNumber" name="phoneNumber" *ngIf="userType === 0"> 

            <!-- Subject specific fields -->
            <input type="number" id="inputWatcher" class="form-control text-input" placeholder="Watcher" required="" autofocus=""
                [(ngModel)]="watcherId" name="watcher" *ngIf="userType === 1">
            <input type="text" id="inputAddress" class="form-control text-input" placeholder="Address" required="" autofocus=""
                [(ngModel)]="address" name="address" *ngIf="userType === 1">
            <div *ngIf="userType === 1">
                <mat-checkbox class="example-margin patient-cb" [(ngModel)]="isPatient" name="isPatient">Patient</mat-checkbox>
            </div>

            <a class="btn-main my-2" type="submit" (click)="onRegisterClicked()">Register</a>
            <br/>
            <a class="overlay-label text-muted" [routerLink]="'/login'">Go Back</a>
        </form>
    </div>
</div>