.screen-container {
    position: relative;
    width: 100%;
}

.content-container {
    background: var(--flat-dark);
}

/* main */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--background);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.wrapper {
    background: var(--background);
    width: 100% !important;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
}

.users-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
}

.filters-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.example-card {
    margin-bottom: 8px;
    background: var(--flat-dark);
    color: white !important;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.78);
}

.example-full-width {
    width: 410px !important;
}

/* responsiveness */
@media (max-width: 991px) {
    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1,1fr);
    }
}

::ng-deep .mat-form-field-flex {
    background: var(--grey) !important;
}

.title {
    font-size: 35px !important;
    color: white !important;
}

.subtitle {
    font-size: 22px !important;
    color: white !important;
}

.content {
    font-size: 19px !important;
    color: white !important;
}

::ng-deep .mat-form-field-flex {
    border-radius: 50px !important;
    border: 1px solid var(--flat-dark) !important;
    background: #fff !important;
    color: black !important;
    font-size: 18px !important;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}