.content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: var(--background);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.cardBox {
    position: relative;
    width: 60%;
    padding: 10px;
    grid-template-columns: repeat(2,2fr);
    display: grid;
    cursor: pointer;
}

.picture-holder {
    width: 40%;
    height: 350px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.78);
    margin: 30px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #313131 98%);
    border-radius: 5px;
}

.hero-image {
    height: 100%;
    width: 100%;
    bottom: 0;
    border-radius: 5px;
}

.cardBox .card {
    position: relative;
    padding-right: 30px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.78);
    flex-direction: row;
    align-items: center;
    margin: 20px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #313131 98%);
    border-radius: 5px;
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 3em;
    font-weight: bold;
    color: var(--accent);
}

.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.75em;
    margin-left: 15px;
}

.cardBox .card .icon-wrapper{
    height: 100%;
    background: var(--container-accent);
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.cardBox .card .iconBx{
    font-size: 3.5em;
    color: var(--flat-dark);
    background: var(--background);
    border-radius: 35px;
    width: 70px;
    height: 70px;
    padding: 10px;
}

.icon-header {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-left: 20px;
    align-items: center;
}

.cardBox .card:hover {
    background-color: #111111;
    background-image: linear-gradient(315deg, #212121 0%, #414141 98%);
}

.cardBox .card:hover .cardName{
    color: var(--background);
}

@media (max-width: 991px) {
    .cardBox {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1,1fr);
    }

    .cardHeader h2 {
        font-size: 20px;
    }
} 