#navbarLogo {
    max-height: 80px;
    max-width: 80px;
    margin-top: 20px;
}

#logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#appName1 {
    color: #cd2026;
    font-size: 80px;
    font-family: 'Genos', sans-serif;
}

#appName2 {
    color: #2f1210;
    font-size: 80px;
    font-family: 'Genos', sans-serif;
}

#catchText {
    font-family: 'Genos', sans-serif;
    font-size: 40px;
}

#mainNavbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 120px;
}

.navbar-options {
    display: flex;
    align-items: flex-start;
    align-self: center;
}

.route-option {
    font-family: 'Genos', sans-serif;
    font-size: 40px;
    margin: 10px;
}

#accountOptions {
    border-radius: 40px;
    font-family: 'Genos', sans-serif;
    font-size: 30px;
}

#accountOptionsWrapper {
    display: flex;
    align-self: center;
}

.dropdown-menu {
    width: 93%;
    text-align: center;
    font-size: 40px;
    font-family: 'Genos', sans-serif;
}

.dropdown-item {
    cursor: pointer;
}