<mat-toolbar color="primary" *ngIf="showNavbar()">
    <mat-toolbar-row id="mainNavbar">
      <a id="logo" [routerLink]="myHomeRoute()">
          <img src="./../../../assets/NVisionLogo.png" id="navbarLogo"/>
          <span id="appName1">N</span>
          <span id="appName2">Vision</span>  
      </a>  

      <section class="navbar-options">
        <div id="catchText">
          Prevent the worst, while everything's best!
        </div>
      </section>
      
      <div class="btn-group" id="accountOptionsWrapper">
        <button type="button" class="dropdown-toggle btn-secondary animate__animated animate__fadeInUp scrollto" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="accountOptions">
          Hello, {{getUsername()}}! 
          <i class="{{getUserIcon()}}"></i>        
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="myAccountRoute()">My Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onLogoutClicked()">Log Out</a>
        </div>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
  
  
