<div class="recentOrders">
    <div class="cardHeader">
        <h2>Recent Orders</h2>
        <a href="#" class="btn">View All</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Payment</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tableRow of tableRows">
                <td>{{tableRow.name}}</td>
                <td>{{tableRow.price}}</td>
                <td>{{tableRow.payment}}</td>
                <td><span class="status {{tableRow.className}}">{{tableRow.status}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
