<div class="screen-container">
    <app-navigation [collapsed]="collapsedSidebar"></app-navigation>
    <div class="main" [ngClass]="{active: collapsedSidebar}">
        <app-topbar (sidebarChanged)="onSidebarChanged($event)"></app-topbar>
        <app-cardbox [cards]="watcherDashboardData.cards"></app-cardbox>
        <div class="details">
            <app-alerts [alerts]="watcherDashboardData.alerts"></app-alerts>
            <app-subjects [subjects]="watcherDashboardData.subjects"></app-subjects>
        </div>
    </div>
</div>
