<div class="row">
    <div class="col-9 cards-wrapper">
        <div class="cards-container">
            <!-- patients -->
            <div class="column-header">
                    Patients            
            </div>
            <div class="patients-search-wrapper">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
                <input type="text" id="inputName" class="form-control text-input patients-search" placeholder="Name" required="" autofocus=""
                    name="name" [(ngModel)]="subjectName"> 
            </div>

            <div class="card" *ngFor="let subject of subjects">
                <img src="{{getCardImage(subject)}}" class="card-img-top" alt="avatar">
                <div class="card-body">
                    <h5 class="card-title">{{subject.firstName}} {{subject.lastName}}</h5>
                    <p class="card-text">Mainly healthy</p>
                    <p class="card-text card-address">{{subject.address}}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-main">View details</a>
                </div>
            </div>
        
            <nav class="pagination-outer" aria-label="Page navigation">
                <div class="pagination-header">
                    Showing 9-12 of 20 subjects
                </div>
                <ul class="pagination">
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-3 cards-wrapper alert-cards-wrapper">
        <div class="alert-cards-container">
            <!-- alerts -->
            <div class="column-header alert-column-header">
                Alerts
            </div>
            <div class="card alert-card">
                <img src="./assets/siren.png" class="card-img-top" alt="avatar" style="max-width: 80px; max-height: 80px;">
                <div class="alert-card-body">
                    <p class="alert-text">An alert was detected for Daniel Bancos in 12/5/2021 at 1:14:03 PM. The remote monitoring hub detected the following issue: Increasing BPM and lower SpO2. The subject is suspect of a heart attack.</p>
                </div>
                <div class="alert-card-footer">
                    <div>
                        <a href="#" class="btn-main btn-alert">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn-secondary btn-alert">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
