<div class="screen-container">
    <app-navigation [collapsed]="collapsedSidebar"></app-navigation>
    <div class="main" [ngClass]="{active: collapsedSidebar}">
        <app-topbar (sidebarChanged)="onSidebarChanged($event)"></app-topbar>
        <div *ngIf="watcherData?.cards?.length > 0" class="top-section">
            <app-cardbox [cards]="watcherData.cards"></app-cardbox>
        </div>
        <div class="details">
            <div *ngIf="watcherData?.alerts?.length > 0">
                <app-alerts [alerts]="watcherData.alerts" [displayHeader]="true"></app-alerts>
            </div>
            <div *ngIf="watcherData?.subjects?.length > 0">
                <app-subjects [subjects]="watcherData.subjects"></app-subjects>
            </div>
        </div>
    </div>
</div>
