.recentCustomers {
    position: relative;
    display: grid;
    min-height: 600px !important; 
    padding: 20px;
    background: var(--gray);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
    font-size: 30px;
}

.recentCustomers .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.recentCustomers table tr td {
    padding: 12px;
}

.recentCustomers table tr h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8em;
    color: var(--black2);
    font-size: 20px;
    margin-top: 18px;
}

.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--black2)
}

.recentCustomers table tr:hover {
    background: var(--blue);
    color: var(--white);
}

.recentCustomers table tr:hover h4 {
    color: var(--white);
}

.recentCustomers table tr:hover td h4 span {
    color: var(--white);
}