.recentCustomers {
    position: relative;
    display: flex;
    height: 450px !important;  
    background: var(--container);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.78);
    border-radius: 20px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 5px;
    background-image: linear-gradient(315deg, #000000 0%, #313131 98%);
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 4px;
    padding: 20px;
    padding-top: 15px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.cardHeader h2 {
    font-weight: 550;
    color: var(--accent);
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Sanchez', sans-serif !important;
    margin-top: 12px;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--container-accent);
    text-decoration: none;
    color: var(--black2);
    border-radius: 100px;
    font-size: 25px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 175px;
}

.btn:hover {
    background: var(--container-accent-hover);
    color: var(--grey);
}

.recentCustomers .imgBx {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.recentCustomers .imgBx img {
    position: absolute;
    top: -5px;
    left: 0;
    width: 120%;
    height: 120%;
    object-fit: cover;
    background: var(--background);
}

.recentCustomers table {
    width: 100%;
    margin-top: 10px;
}

.recentCustomers table th {
    height: 0 !important;
}

.recentCustomers table tr td:first-child {
    padding-left: 30px;
} 

.recentCustomers table tr h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8em;
    color: var(--background);
    font-size: 20px;
    margin-top: 18px;
    font-family: 'Sanchez', sans-serif !important;
}

.recentCustomers table tr td h4 span {
    font-size: 14px;
    color: var(--background)
}

.recentCustomers table tr:hover {
    background: var(--background);
    color: var(--black1);
    cursor: pointer;
}

.recentCustomers table tr:hover h4 {
    color: var(--container);
}

.recentCustomers table tr:hover td h4 span {
    color: var(--black1);
}

.recentCustomers table tr:hover .status-icon {
    color: var(--black1);
}

.status-icon {
    font-size: 45px;
}

.status-icon-plus {
    color: var(--green);
}

.status-icon-minus {
    color: var(--red);
}

.status-icon-zero {
    color: var(--yellow);
}

::ng-deep .mat-header-row {
    height: 0% !important;
}

::ng-deep .mat-paginator {
    background: transparent !important;
    color: var(--background) !important;
    font-size: 20px;
}

::ng-deep .mat-icon-button span {
    color: var(--background);
    font-size: 20px;
}

::ng-deep .mat-icon-button:disabled span {
    color: var(--gray);
    font-size: 20px;
}