<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title class="title">{{subject.fullName}}</mat-card-title>
      <mat-card-subtitle>
          <div class="property"><span class="property-name">Address: </span>{{subject.address}}</div>
          <div class="property"><span class="property-name">Birthday: </span>{{subject.birthday | date: 'dd/MM/yyyy'}}</div>
          <div class="property"><span class="property-name">Sex: </span>{{subject.sex}}</div>
      </mat-card-subtitle>
      <img mat-card-md-image src="{{subject.profilePictureSrc}}">
    </mat-card-title-group>
    <mat-card-content>
      <div class="property"><span class="property-name">Status: </span>{{subject.healthStatus}}</div>
    </mat-card-content>
</mat-card>
  
