@font-face {
    font-family: Ubuntu;
    src: url('./fonts/Ubuntu-Regular.ttf') format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

:root {
    --blue: #db3f3f;
    --white: #eaeaea;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #eaeaea;
    --gray: #4a4a4a;
    --light-gray: #787878;
    --green: #52b788;
    --primary: #cd2027;
    --primary-acc: #a51d22;
    --secondary: #2f1210;
}