<div class="screen-container">
    <app-navigation [collapsed]="collapsedSidebar"></app-navigation>
    <div class="main" [ngClass]="{active: collapsedSidebar}">
        <app-topbar (sidebarChanged)="onSidebarChanged($event)"></app-topbar>
        <div class="content-container">
            <div class="bd-highlight profile-wrapper container">   
                <form class="example-form container">
                    <div class="page-title">Edit your profile</div>
                    <div class="row" *ngIf="watcher">
                        <div class="col-4 profile-column">
                            <img [src]=photoFilePath height="500px;" width="600px;" style="border-radius: 5px;">
                            <input type="file" (change)="uploadPhoto($event)" class="mt-2 img-input"/>
                        </div>
                        <div class="col-4 profile-column">
                            <label class="column-title">Personal information</label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>First Name</mat-label>
                                <input matInput [(ngModel)]="watcher.firstName" name="firstName">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Last Name</mat-label>
                                <input matInput [(ngModel)]="watcher.lastName" name="lastName">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Birthday</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="watcher.birthday" name="birthday">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Phone Number</mat-label>
                                <input matInput [(ngModel)]="watcher.phoneNumber" name="phoneNumber">
                            </mat-form-field>
                        </div>
                        <div class="col-4 profile-column">
                            <label class="column-title">Account information</label>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Username</mat-label>
                                <input matInput [(ngModel)]="watcher.username" name="username">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input matInput [(ngModel)]="watcher.password" type="password" name="password">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Repeat Password</mat-label>
                                <input matInput [(ngModel)]="watcher.repeatedPassword" type="password" name="repeatedPassword">
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Role</mat-label>
                                <input matInput value="Watcher" name="role" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-flat-button type="submit" class="save-btn" (click)="onSaveChanges()">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
