.screen-container {
    position: relative;
    width: 100%;
}

/* main */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--background);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.users-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
}

/* responsiveness */
@media (max-width: 991px) {
    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1,1fr);
    }
}