<div class="alerts">
    <div class="cardHeader" *ngIf="displayHeader">
        <h2>Alerts</h2>
        <a routerLink="/watcher-alerts" class="btn">View All</a>
    </div>
    <table>
        <thead>
            <tr>
                <td>Subject Name</td>
                <td>Message</td>
                <td>Date</td>
                <td>Was Accurate</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alert of displayAlerts">
                <td>{{alert.subjectName}}</td>
                <td>{{alert.message}}</td>
                <td>{{alert.timestamp | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td><span class="status {{alert.className}}">{{alert.status}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
