.alerts {
    position: relative;
    display: grid;
    min-height: 600px; 
    background: var(--gray);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
    font-size: 30px;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    font-size: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table thead td {
    font-weight: 600;
    font-size: 20px;
}

.alerts table tr {
    color: var(--black2);
    border-bottom: 1px solid rgba(248, 243, 243, 0.431);
}

.alerts table tr:last-child {
    border-bottom: none;
}

.alerts table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.alerts table tr td {
    padding: 10px;
}

.alerts table tr td:last-child {
    text-align: center;
}

.alerts table tr td:nth-child(1) {
    text-align: center;
}

.alerts table tr td:nth-child(2) {
    text-align: center;
}

.alerts table tr td:nth-child(3) {
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: var(--green);
    color: var(--white);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: var(--blue);
    color: var(--white);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

.status.inprogress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .alerts {
        overflow-x: auto;
    }

    .status.inprogress {
        white-space: nowrap;
    }
}