.alerts {
    position: relative;
    display: flex;
    min-height: 450px;
    background: var(--container);
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    flex-direction: column;
    justify-content: flex-start;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--accent);
    font-size: 30px;
    margin-left: 20px;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--container-accent);
    text-decoration: none;
    color: var(--background);
    border-radius: 6px;
    font-size: 20px;
    margin-right: 20px;
}

.btn:hover {
    background: transparent;
    color: var(--grey);
    border: 1px solid var(--accent);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table thead td {
    font-weight: 600;
    font-size: 20px;
}

.alerts table tr {
    color: var(--black2);
    border-bottom: 1px solid rgba(248, 243, 243, 0.431);
    cursor: pointer;
}

.alerts table tr:last-child {
    border-bottom: none;
}

.alerts table tbody tr:hover {
    background: var(--accent);
    color: var(--background);
}

.alerts table tr td:last-child {
    text-align: center;
}

.alerts table tr td:nth-child(1) {
    text-align: center;
}

.alerts table tr td:nth-child(2) {
    text-align: center;
}

.alerts table tr td:nth-child(3) {
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: var(--green);
    color: var(--background);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--background);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: var(--accent);
    color: var(--background);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

.status.inprogress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--background);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .alerts {
        overflow-x: auto;
    }

    .status.inprogress {
        white-space: nowrap;
    }
}

table {
    width: 100%;
}

table th {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

::ng-deep .mat-form-field-flex {
    background: var(--grey) !important;
}
