.alerts {
    position: relative;
    display: flex;
    min-height: 450px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.78);
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
    background-image: linear-gradient(315deg, #000000 0%, #313131 98%);
    border-radius: 5px;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.cardHeader h2 {
    font-weight: 550;
    color: var(--accent);
    font-size: 40px;
    padding-top: 15px;
    font-family: 'Sanchez', sans-serif !important;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--container-accent);
    text-decoration: none;
    color: var(--background);
    border-radius: 6px;
    font-size: 20px;
}

.btn:hover {
    background: transparent;
    color: var(--grey);
    border: 1px solid var(--accent);
}

table {
    width: 100%;
    border-collapse: collapse;
}

.alerts table tr {
    border: none;
    cursor: pointer;
}

.alerts table tr:last-child {
    border-bottom: none;
}

.alerts table tbody tr:hover {
    background: var(--accent);
    color: var(--background);
}

.alerts table tr td:last-child {
    text-align: center;
}

.alerts table tr td:nth-child(1) {
    text-align: center;
}

.alerts table tr td:nth-child(2) {
    text-align: center;
}

.alerts table tr td:nth-child(3) {
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background: var(--green);
    color: var(--background);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #f9ca3f;
    color: var(--background);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

.status.return {
    padding: 2px 4px;
    background: var(--accent);
    color: var(--background);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
}

.status.inprogress {
    padding: 2px 4px;
    background: #1795ce;
    color: var(--background);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .alerts {
        overflow-x: auto;
    }

    .status.inprogress {
        white-space: nowrap;
    }
}

table th {
    text-align: center;
    font-size: 30px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: var(--flat-dark);
    background-color: var(--background);
}

table th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

::ng-deep .mat-form-field-flex {
    background: var(--grey) !important;
}

::ng-deep .mat-table {
    background-color: transparent !important;
}
