.screen-container {
    position: relative;
    width: 100%;
}

/* main */
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px; 
}

.alerts-container {
    margin: 25px !important;
    padding: 25px !important;
}

.graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    min-height: 200px;
}

.graphBox .box {
    position: relative;
    background: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.filters-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* responsiveness */
@media (max-width: 991px) {
    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1,1fr);
    }
}