<section>
  <div class="imgBx">
    <img src="./../../../assets/hero.jpg">
  </div>
  <div class="contentBx">
    <div class="formBx">
      <div class="header">
        <img src="./../../../assets/NVisionLogo.png">
        <div class="title">
          <p class="p1">N</p><p class="p2">Vision</p>
        </div>     
        <h2>Login</h2>
      </div>
      <form>
        <div class="inputBx">
          <span>Username</span>
          <input type="text" name="username" [(ngModel)]="loginUser.username">
        </div>
        <div class="inputBx">
          <span>Password</span>
          <input type="password" name="password" [(ngModel)]="loginUser.password">
        </div>
        <div class="remember">
          <mat-checkbox class="example-margin">Remember me</mat-checkbox> 
        </div>
        <div class="inputBx">
          <input type="submit" value="Log In" name="" (click)="onLoginClicked()">
        </div>
        <div class="inputBx register">
          <p>Don't have an account? <a routerLink="register">Sign Up</a></p>
        </div>
      </form>
    </div>
  </div>
</section>


      







