<div class="screen-container">
    <div class="navigation" [ngClass]="{active: expandedSidebar}">
        <ul>
            <li (mouseover)="onOptionMouseOver(sidebarOption)" *ngFor="let sidebarOption of sidebarOptions"
                [ngClass]="{hovered : sidebarOption.isActive}"> 
                <a href="#">
                    <span class="icon"><ion-icon name="{{sidebarOption.iconName}}"></ion-icon></span>
                    <span class="title">{{sidebarOption.title}}</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- main -->
    <div class="main" [ngClass]="{active: expandedSidebar}">
        <div class="topbar">
            <div class="toggle"(click)="toggleSidebar()">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
            <!-- search -->
            <div class="search">
                <label>
                    <input type="text" placeholder="Search here">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div>
            <!-- user image -->
            <div class="user">
                <img src="./../../../assets/grandfather.png"/>
            </div>
        </div>

        <!-- cards -->
        <div class="cardBox">
            <div class="card">
                <div>
                    <div class="numbers">1,504</div>
                    <div class="cardName">Daily Views</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="eye-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">80</div>
                    <div class="cardName">Sales</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="cart-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">284</div>
                    <div class="cardName">Comments</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                </div>
            </div>
            <div class="card">
                <div>
                    <div class="numbers">$7,842</div>
                    <div class="cardName">Earning</div>
                </div>
                <div class="iconBx">
                    <ion-icon name="cash-outline"></ion-icon>
                </div>
            </div>
        </div>

        <!-- data list -->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>Recent Orders</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Price</td>
                            <td>Payment</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Star Refrigerator</td>
                            <td>$1200</td>
                            <td>Paid</td>
                            <td><span class="status delivered">Delivered</span></td>
                        </tr>
                        <tr>
                            <td>Denim Shirts</td>
                            <td>$110</td>
                            <td>Due</td>
                            <td><span class="status inprogress">In Progress</span></td>
                        </tr>
                        <tr>
                            <td>Casual Shoes</td>
                            <td>$575</td>
                            <td>Paid</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>
                        <tr>
                            <td>Wall Fan</td>
                            <td>$110</td>
                            <td>Paid</td>
                            <td><span class="status return">Return</span></td>
                        </tr>
                        <tr>
                            <td>Denim Shirts</td>
                            <td>$110</td>
                            <td>Due</td>
                            <td><span class="status inprogress">In Progress</span></td>
                        </tr>
                        <tr>
                            <td>Casual Shoes</td>
                            <td>$575</td>
                            <td>Paid</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>
                        <tr>
                            <td>Wall Fan</td>
                            <td>$110</td>
                            <td>Paid</td>
                            <td><span class="status return">Return</span></td>
                        </tr>
                        <tr>
                            <td>Denim Shirts</td>
                            <td>$110</td>
                            <td>Due</td>
                            <td><span class="status inprogress">In Progress</span></td>
                        </tr>
                        <tr>
                            <td>Casual Shoes</td>
                            <td>$575</td>
                            <td>Paid</td>
                            <td><span class="status pending">Pending</span></td>
                        </tr>
                        <tr>
                            <td>Wall Fan</td>
                            <td>$110</td>
                            <td>Paid</td>
                            <td><span class="status return">Return</span></td>
                        </tr>
                        <tr>
                            <td>Denim Shirts</td>
                            <td>$110</td>
                            <td>Due</td>
                            <td><span class="status inprogress">In Progress</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- recent customers -->
            <div class="recentCustomers">
                <div class="cardHeader">
                    <h2>Recent Customers</h2>
                </div>
                <table>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="./../../../assets/patient.png"/></div></td>
                        <td><h4>David<br><span>Italy</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="./../../../assets/patient.png"/></div></td>
                        <td><h4>Emily<br><span>USA</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="./../../../assets/patient.png"/></div></td>
                        <td><h4>Andrew<br><span>UK</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="./../../../assets/patient.png"/></div></td>
                        <td><h4>Yuri<br><span>Russia</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="./../../../assets/patient.png"/></div></td>
                        <td><h4>David<br><span>Italy</span></h4></td>
                    </tr>
                    <tr>
                        <td width="60px"><div class="imgBx"><img src="./../../../assets/patient.png"/></div></td>
                        <td><h4>Emily<br><span>USA</span></h4></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
